* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(2, 42, 83, 0.2);
}

textarea {
  font-size: 18px;
}
